<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="full">
			<directory>./tests/</directory>
			<exclude>./tests/old/</exclude>
		</testsuite>
		<testsuite name="builder">
			<directory>./tests/src/Artisan</directory>
		</testsuite>
	</testsuites>
</phpunit>
